.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.item .info-item img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.item .info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item .info-item b {
    font-size: 14px;
}

.item .info-item h4 {
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}

.item .info-item span{
    font-style: italic;
    font-size: 12px;
}

.btn-flow{
    border: 1px solid rgb(37 131 224);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(37 131 224);
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}