.profile-card {
    width: 90%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 4px solid rgb(212, 212, 212);
}

.user-info {
    /* text-align: center; */
    margin-bottom: 10px;
}

.line, .line2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.line button{
    border: none;
    background-color: #efefef;
    color: #000;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
}

.user-info h2{
    font-size: 14px;
    margin: 0;
}

.user-info span{
    font-size: 12px;
}

 .nav-tag-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

  .nav-tag-list .tag-item {
    padding: 10px;
 }

 .nav-tag-list .tag-item.active {
    border-top: 1px solid black;
 }
 .nav-tag-list .tag-item i{
    margin-right: 10px ;
 }